<div class="page">
  <header class="header">
    <div class="container">
      <h1>MultiShot Admin App</h1>
    </div>
  </header>
  <main>
    <div class="container">
      <md-card>
        <md-card-title>
          Connect us!
        </md-card-title>
        <md-card-content>
          <span class="url__data">{{url}}</span>
        </md-card-content>
      </md-card>
      <app-camera-views></app-camera-views>
      <app-camera-controls></app-camera-controls>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
        how it's going? write issue if something is not pretty enough
    </div>
  </footer>
</div>
